
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

header {
	background-color: #333;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	padding: 1rem;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

nav {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header nav a {
	color: white;
	font-size: 1.2rem;
	text-decoration: none;
	padding: 1rem;
}

.espaço {
	height: 80px;
}

.quem-somos {
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='600' y1='25' x2='600' y2='777'%3E%3Cstop offset='0' stop-color='%23FF8E0D'/%3E%3Cstop offset='1' stop-color='%23FF9D4D'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='650' y1='25' x2='650' y2='777'%3E%3Cstop offset='0' stop-color='%23ff8f13'/%3E%3Cstop offset='1' stop-color='%23fe8b3b'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='700' y1='25' x2='700' y2='777'%3E%3Cstop offset='0' stop-color='%23ff9019'/%3E%3Cstop offset='1' stop-color='%23fd7729'/%3E%3C/linearGradient%3E%3ClinearGradient id='d' gradientUnits='userSpaceOnUse' x1='750' y1='25' x2='750' y2='777'%3E%3Cstop offset='0' stop-color='%23ff911e'/%3E%3Cstop offset='1' stop-color='%23fc6217'/%3E%3C/linearGradient%3E%3ClinearGradient id='e' gradientUnits='userSpaceOnUse' x1='800' y1='25' x2='800' y2='777'%3E%3Cstop offset='0' stop-color='%23ff9224'/%3E%3Cstop offset='1' stop-color='%23fb4b05'/%3E%3C/linearGradient%3E%3ClinearGradient id='f' gradientUnits='userSpaceOnUse' x1='850' y1='25' x2='850' y2='777'%3E%3Cstop offset='0' stop-color='%23ff932a'/%3E%3Cstop offset='1' stop-color='%23e93c04'/%3E%3C/linearGradient%3E%3ClinearGradient id='g' gradientUnits='userSpaceOnUse' x1='900' y1='25' x2='900' y2='777'%3E%3Cstop offset='0' stop-color='%23ff9530'/%3E%3Cstop offset='1' stop-color='%23d62f05'/%3E%3C/linearGradient%3E%3ClinearGradient id='h' gradientUnits='userSpaceOnUse' x1='950' y1='25' x2='950' y2='777'%3E%3Cstop offset='0' stop-color='%23ff9636'/%3E%3Cstop offset='1' stop-color='%23c32405'/%3E%3C/linearGradient%3E%3ClinearGradient id='i' gradientUnits='userSpaceOnUse' x1='1000' y1='25' x2='1000' y2='777'%3E%3Cstop offset='0' stop-color='%23ff983c'/%3E%3Cstop offset='1' stop-color='%23af1a05'/%3E%3C/linearGradient%3E%3ClinearGradient id='j' gradientUnits='userSpaceOnUse' x1='1050' y1='25' x2='1050' y2='777'%3E%3Cstop offset='0' stop-color='%23ff9941'/%3E%3Cstop offset='1' stop-color='%239c1205'/%3E%3C/linearGradient%3E%3ClinearGradient id='k' gradientUnits='userSpaceOnUse' x1='1100' y1='25' x2='1100' y2='777'%3E%3Cstop offset='0' stop-color='%23ff9b47'/%3E%3Cstop offset='1' stop-color='%238a0b05'/%3E%3C/linearGradient%3E%3ClinearGradient id='l' gradientUnits='userSpaceOnUse' x1='1150' y1='25' x2='1150' y2='777'%3E%3Cstop offset='0' stop-color='%23FF9D4D'/%3E%3Cstop offset='1' stop-color='%23770505'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg %3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' x='100' width='1100' height='800'/%3E%3Crect fill='url(%23c)' x='200' width='1000' height='800'/%3E%3Crect fill='url(%23d)' x='300' width='900' height='800'/%3E%3Crect fill='url(%23e)' x='400' width='800' height='800'/%3E%3Crect fill='url(%23f)' x='500' width='700' height='800'/%3E%3Crect fill='url(%23g)' x='600' width='600' height='800'/%3E%3Crect fill='url(%23h)' x='700' width='500' height='800'/%3E%3Crect fill='url(%23i)' x='800' width='400' height='800'/%3E%3Crect fill='url(%23j)' x='900' width='300' height='800'/%3E%3Crect fill='url(%23k)' x='1000' width='200' height='800'/%3E%3Crect fill='url(%23l)' x='1100' width='100' height='800'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

.quem-somos h2,.texto-quem-somos{
	width: 40%;
	margin: 0 auto;
	text-align: center;
	padding: 10px;
	font-size: 30px;
	font-weight: bold;

}

.quem-somos {
	padding-top: 250px;
	font-family:'Montserrat', sans-serif;
	font-weight: bold;
	
}

.equipe {
    background-color: #f7f7f7;
	background-size: cover;
	background-position: center;
	color: #333;
	padding: 4rem;
	padding-top: 90px;	
	font-family: 'Montserrat', sans-serif;
	padding-left: 150px;
	padding-right: 150px;
}
.alfredo{
	width: 40%;
	font-size: 30px;
	font-weight: bold;
	display: inline-block;
}


.alfredo-imagem{
	float: right;
	height: 300px;
}
.luciane{
	width: 80%;
	display: block;
	font-size: 30px;
	font-weight: bold;
	text-align: end;
	position: absolute;
	padding-top: 50px;
		
}

.luciane-imagem{
	height: 300px;
	padding-left: 3px;
	position: absolute;
	padding-top: 20px;
	z-index: 100;
}

.araceli{
	position: absolute;
	padding-top: 400px;
	width: 40%;
	font-size: 30px;
	font-weight: bold;
	display: inline-block;
}

.araceli-imagem{
	height: 650px;
	padding-left: 1050px;
	padding-top: 400px;
}

.equipe h2{
	font-size: 3rem;
}

.equipe h3 {
	font-size: 2rem;
	margin-bottom: 2rem;
	padding-top: 40px;
}


.equipe p {
	font-size: 1rem;
	margin-bottom: 2rem;
}



.whatsapp-link {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 40px;
	background-color: #25d366;
	color: #fff;
	border-radius: 50px;
	text-align: center;
	font-size: 30px;
	box-shadow: 1px 1px 2px #888;
	z-index: 1000;
}

.fa-whatsapp {
	margin-top: 16px;
}

footer {
	text-align: center;
	padding: 40px 0;
    background-color: white;

}

.copyright {
	color: black;
	font-size: 13px;
}



.expertise {
	background-color: #FF9425;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23F15D12'/%3E%3Cstop offset='1' stop-color='%23FF9425'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23BE4B23' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23BE4B23' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
line-height: 50px; 
vertical-align: middle;
height: 170vh;
}
